img.logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#top {
	text-align: center;
}
.petStatus{
	width:100%;
	text-align: center;
}

#deadPet {
	display: none;
	width: 300px;
	height: auto;
}
#alivePet {
	display: none;
	width: 300px;
	height: auto;
}
#feedPet {
	display: none;
	width: 300px;
	height: auto;
}

#playPet {
	display: none;
	width: 300px;
	height: auto;
}

#sleepPet {
	display: none;
	width: 300px;
	height: auto;
}


#eggPet {
	display: none;
	width: 300px;
	height: auto;
}
.life {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 50px;
}
.heart {
	width: 100px;
	height: auto;
}

#fullHeart {
	display: none;
}

#halfHeart {
	display: none;
}
#emptyHeart {
	display: none;
}
div.buttonGroup {
	width:100%;
	text-align: center;
}
.button{
	display: inline-block; 
}

.buttonSize {
	height: 130px;
	width: auto;
}

#deadGame {
	width: 600px;
	height: auto;
}

#gameOver {
	display: none;
	width:100%;
	text-align: center;
}

.score {
	text-align: center;

}



